body {
  margin: 0;
}


.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas:
      "navigator navigator navigator"
      "main main main"
      "footer footer footer";
  }

  header {
    padding: 2rem 1rem;
    grid-area: header;
    background-color: #202020;
  }
  
  nav {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background-color: black;
    grid-area: navigator;
    width: auto;
  }

  .nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  .nav-list > li {
    background-color: lightseagreen;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    font-weight: bolder;
  }

  main {
    grid-area: main;
    background-color: #202020;
    color: black;
  }

  .main-list > li {
    background-color: lightyellow;
    width: 450px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Robot", sans-serif;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    font-weight:bold;
  }

  footer {
    grid-area: footer;
    background-color: black;
    color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  